---
import Editor from "../components/Editor.vue";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <div class="p-6">
    <Header />
    <Editor client:only />
  </div>
</Layout>
