---
import "../styles/global.css";
---

<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>WYSIWYG Markdown Editor</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  :root {
    font-family: "Times New Roman", Times, serif;
  }
</style>
